{{- /* Favicons: standard, apple-touch, with correct MIME type */ -}}
{{- $favicon := .Site.Params.favicon | default "/favicon.ico" -}}
{{- $iconExt := path.Ext $favicon -}}
{{- $iconType := cond (eq (lower $iconExt) ".png") "image/png" (cond (eq (lower $iconExt) ".svg") "image/svg+xml" "image/x-icon") -}}
{{- if .Site.Params.favicon | default "/favicon.ico" }}
<link rel="icon" type="{{ $iconType }}" href="{{ $favicon | absURL }}">
<link rel="apple-touch-icon" href="{{ $favicon | absURL }}">
{{- end }}
