{{ if default true .Site.Params.features.backToTop }}
<button class="back-to-top" id="back-to-top" aria-label="{{ i18n `backToTop` }}" hidden>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <polyline points="18 15 12 9 6 15"></polyline>
  </svg>
  {{ if default true .Site.Params.backToTop.scrollPercent }}
  <span class="back-to-top__percent" id="back-to-top-percent">0%</span>
  {{ end }}
</button>
{{ end }}
