{{ define "main" }}
  <div class="list-page">
    <header class="list-header">
      <h1>{{ .Title }}</h1>
      {{ with .Content }}
      <div class="Content">{{ . }}</div>
      {{ end }}
    </header>
    <div class="taxonomy-terms">
      {{ $sorted := sort .Pages ".Pages" "desc" }}
      {{ range $sorted }}
      <a href="{{ .RelPermalink }}" class="taxonomy-term">
        <span class="taxonomy-term__name">{{ .LinkTitle }}</span>
        <span class="taxonomy-term__count">{{ len .Pages }}</span>
      </a>
      {{ end }}
    </div>
  </div>
{{ end }}
