{{ define "main" }}
  <div class="list-page">
    <header class="list-header">
      <h1>{{ .Title }}</h1>
      {{ with .Content }}
      <div class="Content">{{ . }}</div>
      {{ end }}
    </header>
    {{ $p := .Paginate .Pages }}
    <div class="timeline">
      {{ range $p.Pages.GroupByDate "2006" }}
      <h2 class="timeline__year">{{ .Key }}</h2>
      {{ range .Pages.GroupByDate "01" }}
      <h3 class="timeline__month">{{ .Key }}月</h3>
      {{ range .Pages }}
      <div class="timeline__item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format ":date_long" }}</time>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    {{ partial "pagination.html" (dict "Paginator" $p) }}
  </div>
{{ end }}
